<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.LogInPageTests">
                <methods>
                    <include name="TC01"/>
                    <include name="TC02"/>
                    <include name="TC03"/>
                    <include name="TC04"/>
                    <include name="TC05"/>
                    <include name="TC06"/>
                    <include name="TC07"/>
                </methods>
            </class>
            <class name="tests.ProductsPageTest">
                <methods>
                    <include name="TC08"/>
                    <include name="TC09"/>
                    <include name="TC12"/>
                    <include name="TC10"/>
                    <include name="TC13"/>
                    <include name="TC11"/>
                    <include name="TC14"/>
                </methods>
            </class>
            <class name="tests.ProductPageTests">
                <methods>
                    <include name="TC15"/>
                    <include name="TC16"/>
                    <include name="TC17"/>
                    <include name="TC18"/>
                    <include name="TC19"/>
                    <include name="TC20"/>
                </methods>
            </class>
            <class name="tests.CartPageTests">
                <methods>
                    <include name="TC21"/>
                    <include name="TC22"/>
                    <include name="TC23"/>
                    <include name="TC24"/>
                    <include name="TC25"/>
                </methods>
            </class>
            <class name="tests.CheckoutPageTests">
                <methods>
                    <include name="TC26"/>
                    <include name="TC27"/>
                    <include name="TC28"/>
                    <include name="TC29"/>
                    <include name="TC30"/>
                </methods>
            </class>
            <class name="tests.OverviewPageTests">
                <methods>
                    <include name="TC31"/>
                    <include name="TC32"/>
                </methods>
            </class>
            <class name="tests.ThanksPageTests">
                <methods>
                    <include name="TC33"/>
                    <include name="TC34"/>
                    <include name="TC35"/>
                </methods>
            </class>
            <class name="tests.MenuPageTests">
                <methods>
                    <include name="TC36"/>
                    <include name="TC37"/>
                    <include name="TC38"/>
                    <include name="TC39"/>
                    <include name="TC40"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.LogInPageTests">
                <methods>
                    <include name="TC01"/>
                    <include name="TC02"/>
                    <include name="TC03"/>
                    <include name="TC04"/>
                    <include name="TC05"/>
                    <include name="TC06"/>
                    <include name="TC07"/>
                </methods>
            </class>
            <class name="tests.ProductsPageTest">
                <methods>
                    <include name="TC08"/>
                    <include name="TC09"/>
                    <include name="TC12"/>
                    <include name="TC10"/>
                    <include name="TC13"/>
                    <include name="TC11"/>
                    <include name="TC14"/>
                </methods>
            </class>
            <class name="tests.ProductPageTests">
                <methods>
                    <include name="TC15"/>
                    <include name="TC16"/>
                    <include name="TC17"/>
                    <include name="TC18"/>
                    <include name="TC19"/>
                    <include name="TC20"/>
                </methods>
            </class>
            <class name="tests.CartPageTests">
                <methods>
                    <include name="TC21"/>
                    <include name="TC22"/>
                    <include name="TC23"/>
                    <include name="TC24"/>
                    <include name="TC25"/>
                </methods>
            </class>
            <class name="tests.CheckoutPageTests">
                <methods>
                    <include name="TC26"/>
                    <include name="TC27"/>
                    <include name="TC28"/>
                    <include name="TC29"/>
                    <include name="TC30"/>
                </methods>
            </class>
            <class name="tests.OverviewPageTests">
                <methods>
                    <include name="TC31"/>
                    <include name="TC32"/>
                </methods>
            </class>
            <class name="tests.ThanksPageTests">
                <methods>
                    <include name="TC33"/>
                    <include name="TC34"/>
                    <include name="TC35"/>
                </methods>
            </class>
            <class name="tests.MenuPageTests">
                <methods>
                    <include name="TC36"/>
                    <include name="TC37"/>
                    <include name="TC38"/>
                    <include name="TC39"/>
                    <include name="TC40"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="EdgeTest">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="tests.LogInPageTests">
                <methods>
                    <include name="TC01"/>
                    <include name="TC02"/>
                    <include name="TC03"/>
                    <include name="TC04"/>
                    <include name="TC05"/>
                    <include name="TC06"/>
                    <include name="TC07"/>
                </methods>
            </class>
            <class name="tests.ProductsPageTest">
                <methods>
                    <include name="TC08"/>
                    <include name="TC09"/>
                    <include name="TC12"/>
                    <include name="TC10"/>
                    <include name="TC13"/>
                    <include name="TC11"/>
                    <include name="TC14"/>
                </methods>
            </class>
            <class name="tests.ProductPageTests">
                <methods>
                    <include name="TC15"/>
                    <include name="TC16"/>
                    <include name="TC17"/>
                    <include name="TC18"/>
                    <include name="TC19"/>
                    <include name="TC20"/>
                </methods>
            </class>
            <class name="tests.CartPageTests">
                <methods>
                    <include name="TC21"/>
                    <include name="TC22"/>
                    <include name="TC23"/>
                    <include name="TC24"/>
                    <include name="TC25"/>
                </methods>
            </class>
            <class name="tests.CheckoutPageTests">
                <methods>
                    <include name="TC26"/>
                    <include name="TC27"/>
                    <include name="TC28"/>
                    <include name="TC29"/>
                    <include name="TC30"/>
                </methods>
            </class>
            <class name="tests.OverviewPageTests">
                <methods>
                    <include name="TC31"/>
                    <include name="TC32"/>
                </methods>
            </class>
            <class name="tests.ThanksPageTests">
                <methods>
                    <include name="TC33"/>
                    <include name="TC34"/>
                    <include name="TC35"/>
                </methods>
            </class>
            <class name="tests.MenuPageTests">
                <methods>
                    <include name="TC36"/>
                    <include name="TC37"/>
                    <include name="TC38"/>
                    <include name="TC39"/>
                    <include name="TC40"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>